.movie-card {
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    background-color: #282128;
    margin: 1vh 1vw;
    transition: box-shadow 0.2s;
}

.movie-card:hover{
    box-shadow: 0 0 20px 10px rgb(54, 53, 53);
}

.details-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title p{
    word-wrap: break-word;  
    white-space: normal;
    font-size: 2vh;
    color: white;
    overflow: visible;
}
