.movie-card {
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    background-color: #282128;
    margin: 1vh 1vw;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
}

.title p{
    word-wrap: break-word;  
    white-space: normal;
    font-size: 2vh;
    color: white;
    overflow: visible;
}