* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden
}

.hero-section {
    padding-top: 25vh;
    width: 100vw;
    height: 70vh;
    background: linear-gradient(
        180deg,
        #4d0ea0,  
        #270238, 
        #080808
    );
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0; /* ensure no margin below */
}

.hook {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 10vh;
}

.title {
    color: white;
    font-size: 10vh;
    font-weight: 600;
}

.description {
    text-align: center;
    font-size: 2em;
    font-weight: 200;
    max-width: 45vw;
    color: white;
}

.description-bold {
    font-weight: 400;
    color: rgba(38, 209, 195, 1)
}

.trending-movies {
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #080808; 
  padding-top: 2rem;
  padding-bottom: 4rem;
  position: relative;
  top: 0; 
}


.trending-movies h1 {
    color: whitesmoke;
    margin-left: 1vw;
}

.trending-movies-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.trending-movies-container::-webkit-scrollbar{
    background-color: #080808
}

.main-section{
    min-height: 100vh;
    width: 100vw;
    background-color: #080808; 
}

.now-playing-movies{
    margin-left: 1vw;
    color: whitesmoke;
}

.now-playing-movies-container {
    padding: 2vh 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2.5vh;
}